{% load static %}
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/signin.css' %}">
</head>

<body class='text-center'>

<form class="form-signin" method='POST', action='.'>
  {% comment %} <img class="mb-4" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> {% endcomment %}
  {% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Please Sing In^^</h1><br>
  {% for field in form %}
  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
  <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
    placeholder="{{ field.label }}" name="{{ field.name }}" />
  </div>

  {% if field.errors %}
  <span style="color: red">{{ field.errors }}</span>
  {% endif %}
  {% endfor %}
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sing Up</button>


</form>

</body>